.cart-container {
  position: relative;
  border: 1px solid #707070;
  border-radius: 20px;
  padding: 10px 12px 50px;
  margin: auto;
  cursor: default;
}
.cart__heading {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}
.cart-payment__btn {
  position: absolute;
  right: 7px;
  bottom: 6px;
  font-size: 1.8rem;
}
.no-item {
  text-align: center;
  /* font-weight: 700; */
  font-size: 2rem;
}