footer {
}
.logo-spkt {
  min-height: var(--footer-height);
  max-height: var(--footer-height);
}
.logo-spkt__link {
  cursor: default;
}
.logo-spkt__img {
  cursor: pointer;
  min-height: var(--footer-height);
  max-height: var(--footer-height);
  background-image: url(../Pictures/Logo-DH-Su-Pham-Ky-Thuat-TP-Ho-Chi-Minh-HCMUTE.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.info {
  margin-top: 10px;
}
.teacher-info {
  text-align: center;
}
.teacher-name {
  font-size: 3rem;
  display: block;
  width: 100%;
  line-height: 45px;
}
.student-info {
  margin-top: 3px;
  text-align: center;
  font-size: 2rem;
}
.student-name {
  line-height: 30px;
}
.student-id {
  line-height: 30px;
}
.social-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-network__link {
  font-size: 3rem;
}
.back-to-top {
  font-size: 3rem;
}
