header {
  width: 100%;
  background-color: black;
  height: var(--header-height);
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-logo {
  font-size: 4.5rem;
  color: var(--white-color);
  line-height: var(--header-height);
}
.header-logo__link {
  color: var(--white-color);
}
.header-logo__link:hover {
  color: var(--white-color);
}
.header__search {
  --header-search-height: 50px;
  width: 100%;
  height: var(--header-search-height);
  margin: calc((var(--header-height) - var(--header-search-height)) / 2) 0;
  border: 0;
  border-radius: 100px;
  /* line-height: calc(var(--header-search-height)); */
  font-size: 2rem;
  padding: 0 20px;
}
.header__search:focus-visible {
  outline: transparent;
}
.header-choices {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-choice__btn {
  display: flex;
  justify-content: flex-end;
}

.header-choice__btn .header-choice__link {
  font-size: 2.4rem;
}
.home__slider {
  margin-top: calc(var(--header-height) + 20px);
  min-height: 400px;
  position: relative;
}
.slider-indicators {
  position: absolute;
  bottom: -50px;
}
.slider-indicators .slider-indicators__btn {
  background-color: grey;
}
.slider-indicators__btn.active {
  background-color: black;
}

.slider-content {
  display: flex;
  align-items: center;
}
.slider-content.row {
  display: flex;
}
.slider-content__header {
  color: #a9afc3;
  font-size: 4rem;
  cursor: default;
}
.slider-content__header-1 {
  font-weight: 400;
}
.slider-content__header-2 {
  font-weight: 700;
}
.slider__btn {
  font-size: 3rem;
  font-weight: 500;
}
.slider-content__img {
  max-height: 400px;
  min-height: 400px;
  max-width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  transition: transform 2s ease, opacity 0.5s ease-out;
}
.product-container {
  margin-top: 87px;
}
.product__header {
  display: flex;
  position: relative;
}
.product__header-left {
}
.product__heading {
  font-size: 3rem;
}
.product__description {
  font-size: 2.3rem;
}
.product__header-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.product__header-btn {
  font-size: 3rem;
  font-weight: 500;
}

.productItem {
  min-height: 550px;
  max-height: 550px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: transform linear 0.1s;
  will-change: transform;
}
.productItem:hover {
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 5%);
  transform: translateY(-1px);
}
.productItem__img {
  /* min-height: 518px;
  max-height: 518px; */
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.productItem__info {
  text-align: center;
}
.productItem__name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}
.productItem__date-remain {
  font-size: 1.6rem;
  color: var(--text-color);
}
.productItem-trade__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 6px;
}
.productItem__price {
  font-size: 2.4rem;
  color: var(--primary-color);
  font-weight: 700;
}
.productItem-pay__btn {
  font-size: 1.5rem;
  font-weight: 600;
}
.logo-spkt {
  min-height: var(--footer-height);
  max-height: var(--footer-height);
}
.logo-spkt__link {
  cursor: default;
}
.logo-spkt__img {
  cursor: pointer;
  min-height: var(--footer-height);
  max-height: var(--footer-height);
  background-size: contain;
  background-repeat: no-repeat;
}
.info {
  margin-top: 10px;
}
.teacher-info {
  text-align: center;
}
.teacher-name {
  font-size: 3rem;
}
.student-info {
  margin-top: 3px;
  text-align: center;
  font-size: 20px;
}
.student-name {
}
.student-id {
}
.social-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-network__link {
  font-size: 3rem;
}
.back-to-head {
  font-size: 3rem;
}
